body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  height: 100vh;
  background: #000;

}
p{
  font-size: 10px;
  line-height: 10px;
  background: url(pp.jpg);
  background-attachment: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-clip: text;
  background-attachment: center;
  -webkit-text-fill-color: rgba(255,255,255,0.1);


}
